{
	"idle": (
		keyframes: KeyframesVec([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]),
		duration: 1.5,
	),
	"run": (
		keyframes: KeyframesRange((start: 12, end: 20)),
		duration: 0.8,
		events: {
			2: {
				"idle_garden::assets::events::PlayerFootstepEvent": (
                    right_foot: true,
                )
			},
			6: {
				"idle_garden::assets::events::PlayerFootstepEvent": (
                    right_foot: false,
                )
			},
		},

	),
}
